<h1>Adoption Application</h1>

<%= form_with method: :post, local: true do |form| %>
<%= form.label :applicant, "Name" %>
<%= form.text_field :applicant, required: true %><br>
<%= form.label :address %>
<%= form.text_field :address, required: true %><br>
<%= form.label :description, "Why would you make a good home for this pet?" %>
<%= form.text_field :description, required: true %><br>

<%= form.submit "Submit" %>
<% end %>
