<h1>Show Application</h1>
  <p>Applicant Name: <%= @application.applicant %></p>
  <p>Address: <%= @application.address %></p>
  <p>Why you? <%= @application.description %></p>
  <% @application.pets.each do |pet|%>
    <p>Pets on this Application: <%= link_to pet.name, "/pets/#{pet.id}" %></p>
  <% end %>
  <p>Application Status: <%= @application.status %></p>

  <% if @application.status == "In Progress" %>
  <section id="add_pet-<%= @application.id %>">
    <h2>Add a Pet to this Application</h2>
    <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
      <%= f.label :search, "Search for a Pet by name!" %><br>
      <%= f.text_field :search %>
      <%= f.submit "Search" %>
    <% end %>

    <% if @pets != nil %>
    <% @pets.each do |pet| %>
      <%= link_to pet.name, "/pets/#{pet.id}" %><%= button_to "Adopt this Pet", action: "update", :pet_id => pet.id %>
      <% end %>
    <% end %>
  </section>
  <% end %>

  <% if @application.pets != [] %>
    <section id="submit_application-<%= @application.id %>">
    <h2>Submit Application</h2>
    <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |form| %>
    <%= form.label :good_owner, "Why I would make a good owner for these pet(s)" %>
    <%= form.text_field :good_owner, required: true %><br>
    <%= button_to "Submit Application", action: "update", :good_owner => @application.description %>
    <% end %>
    </section>
  <% end %>
